<title>Hi Software People</title>
<link rel='shortcut icon' type='image/x-icon' href='https://www.iconninja.com/ico/64/hi-5-five-hi5-media-hi-social-897971.ico'/>
<div id="main">
  <div>HI</div>
  <div>S</div>
  <div>OF</div>
  <div>TWARE</div>
  <div>PEOPLE</div>
</div>
<style>
#main {
  display: inline-grid;
  grid-template-rows: repeat(4, 1fr);
  grid-auto-columns: max-content;
  justify-items: center;
}
#main > div:nth-child(1) {
  grid-area: 1 / 2;
}
#main > div:nth-child(2) {
  grid-area: 2 / 1;
}
#main > div:nth-child(3) {
  grid-area: 2 / 2;
}
#main > div:nth-child(4) {
  grid-area: 2 / 3;
}
#main > div:nth-child(5) {
  grid-area: 3 / 1 / 3 / span 3;
}

#main > div:nth-child(1), #main > div:nth-child(3), #main > div:nth-child(5) {
  position: relative;
  animation: deeping 4s infinite ease-in-out;
  animation-delay: 2s;
}
@keyframes deeping {
  0% { top: 0 }
  50% { top: 100% }
  100% { top: 0 }
}

</style>
